
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

.fullscreen-bg__video {
    position: absolute;
    top: 0%;
    width: auto;
    height: auto;
    min-width: 100%;
}

@media (max-width: 767px) {
    .fullscreen-bg {
        background: url("../images/homeBG.jpeg");
    }

    .fullscreen-bg__video {
        display: none;
    }
}